/**
  Awesome write-up here: https://css-tricks.com/css-pie-timer-re-revisited/
  Not cross-browser but we're having fun, right?
 */
@property --percentage {
  initial-value: 0%;
  inherits: false;
  syntax: "<percentage>";
}
@keyframes timer {
  to {
    --percentage: 100%;
  }
}
.pie-timer {
  background: conic-gradient(#4473FC var(--percentage), transparent 0);
  border-radius: 50%;
  border: 2px #4473FC solid;
  width: 40px;
  height: 40px;

  &.animate {
    // Set by the component
    // animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-name: timer;
  }
}